* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.loading-bar {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.5s;
  will-change: transform;
}

.loading-bar.ended {
  transform-origin: top right;
  transition: transform 1.5s ease-in-out;
}
.loading-percentage {
  left: 50%;
  color: #ffffff;
  position: absolute;
  top: 40%;
  font-size: 30px;
  transition: opacity 2s;
  opacity: 1;
  font-family: 'Roboto', sans-serif;
}
.arrow-keys {
    width: 10%;
    position: absolute;
    bottom: 2%;
    right: 2%;
    opacity: .6;
}